<!DOCTYPE html>
<html lang="en">
<%- include('include/head.ejs') %>
    <body>
        <div class="container p-5 shadow-lg">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <img class="img-fluid mt-3" alt="logo" src="images/Technical_Difficulties.jpg" />
                </div>
            </div>
        </div>
    </body>
</html>